[submodule "external/slang-rhi"]
	path = external/slang-rhi
	url = https://github.com/shader-slang/slang-rhi.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui.git
